body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    width: 350px;
}

.header {
    background: #000000;
    text-align: center;
}

.header .logo {
    height: 30px;
    margin: 20px;
}

.header .homepage {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 5px;
}

.status {
    background: #30486c;
    color: #fff;
    min-height: 40px;
}

.status .info {
    float:left;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

.status .reload-button {
    padding: 10px;
    float: right;
}

.reload-button img {
    width: 20px;
    height: 20px;
}

.event {
    padding: 5px;
    margin-bottom: 5px;
}

.event .title {
    font-size: 16px;
}

.event .date {
    font-weight: bold;
    float: right;
    padding: 5px;
}

.event .teaser {
    font-size: 12px;
}

.event .signup {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: green;
}

.event .signup.full {
    background: red;
}

.login-button {
    margin: 20px;
    padding: 10px;
    background: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.login-button a {
    text-decoration: none;
    color: #fff;
}

.spinning {
    -webkit-animation: spin 0.4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.hidden {
    display: none;
}
