<!DOCTYPE html>
<html ng-app="NavetApp">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/popup.css">

    <!-- Required libraries -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/moment/moment.js"></script>

    <!-- Application files -->
    <script src="js/app.js"></script>
    <script src="js/controllers/popupCtrl.js"></script>

  </head>

  <body ng-controller="PopupController">
    <div>
      <div class="header">
        <img class="logo" src="../logo-white.png">
      </div>

      <div class="status">
        <div class="reload-button" ng-click="reload()">
          <img ng-class="{spinning: status.loading}" src="../refresh_white.png">
        </div>
        <div class="info">
          {{status.title}}
        </div>
      </div>

      <div ng-class="{hidden: !status.authError}">
        <div class="login-button">
          <a href="http://ifinavet.no/login" target="_blank">
            Click to log in
          </a>
        </div>
      </div>

      <div ng-class="{hidden: status.authError}">
        <div class="event" ng-repeat="event in events">

          <div class="date">
            {{moment(event.date)}}
          </div>

          <div class="company-image" ng-show="event.companyImage">
            <img ng-src="http://ifinavet.no/images/small/{{event.companyImage}}">
          </div>

          <a href="http://ifinavet.no/event/{{event.id}}"
             target="_blank">
            <div class="title">
              {{event.title}}
            </div>
          </a>

          <a href="http://ifinavet.no/company/{{event.companyId}}" target="_blank">
            <div class="company">
              {{event.companyName}}
            </div>
          </a>

          <div class="teaser">
            {{event.teaser}}
          </div>

          <a href="http://ifinavet.no/event/{{event.id}}" target="_blank">
            <div ng-switch="event.requireSignup">
              <div class="signup not-required" ng-switch-when="false">
                Påmelding ikke nødvendig
              </div>
              <div class="signup" ng-class="{full: availableSpots(event) == 0}"
                   ng-switch-default>
                {{availableSpots(event)}} ledige plasser
              </div>
            </div>
          </a>

        </div>
      </div>

    </div>

    <!-- Google Analytics -->
    <script src="../analytics.js"></script>

  </body>
</html>
